<ion-content class="register-content">
  <div class="register-wrapper">
    <div class="register-card">

      <div class="logo-container">
        <img src="assets/logotipo-i4life.jpg" alt="Logo i4life">
      </div>

      <div class="register-header">
        <h1>Crear cuenta</h1>
        <p>Regístrate para empezar a usar Task Manager</p>
      </div>

      <div class="form-group">
        <label>Nombre</label>
        <ion-item class="register-item" lines="none">
          <ion-input
            [(ngModel)]="name"
            maxlength="50"
            placeholder="Introduce tu nombre">
          </ion-input>
        </ion-item>
      </div>

      <div class="form-group">
        <label>Email</label>
        <ion-item class="register-item" lines="none">
          <ion-input
            [(ngModel)]="email"
            type="email"
            maxlength="70"
            placeholder="Introduce tu email">
          </ion-input>
        </ion-item>
      </div>

      <div class="form-group">
        <label>Usuario</label>
        <ion-item class="register-item" lines="none">
          <ion-input
            [(ngModel)]="username"
            maxlength="20"
            placeholder="Elige un usuario">
          </ion-input>
        </ion-item>
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <ion-item class="register-item" lines="none">
          <ion-input
            [(ngModel)]="password"
            type="password"
            placeholder="Elige una contraseña">
          </ion-input>
        </ion-item>
      </div>

      <div class="password-rules">
        <span class="password-rules-title">La contraseña debe incluir:</span>

        <p [class.valid]="password.length >= 8">
          Mínimo 8 caracteres
        </p>

        <p [class.valid]="hasUppercase()">
          Al menos una mayúscula
        </p>

        <p [class.valid]="hasNumber()">
          Al menos un número
        </p>

        <p [class.valid]="hasSpecialChar()">
          Al menos un carácter especial
        </p>
      </div>

      <ion-button
        expand="block"
        class="register-button"
        (click)="register()"
        [disabled]="!isStrongPassword()">
        Crear cuenta
      </ion-button>

      <p class="login-text">
        ¿Ya tienes cuenta?
        <span class="login-link" (click)="goToLogin()">Inicia sesión</span>
      </p>
    </div>
  </div>
</ion-content>