<ion-header>
  <ion-toolbar>
    <ion-title>Mis Tareas</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input [(ngModel)]="newTaskTitle" placeholder="Nueva tarea"></ion-input>
    <ion-button (click)="addTask()">Añadir</ion-button>
  </ion-item>

  <ion-item>
    <input type="file" accept="image/*" (change)="onFileSelected($event)">
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-label [class.completed]="task.status === 'completada'">
        <h2>{{ task.title }}</h2>

        <span *ngIf="isAdmin && task.username" class="task-user">
          - {{ task.username }}
        </span>

        <div *ngIf="task.imageUrl">
          <img
            [src]="'http://localhost:5000' + task.imageUrl"
            alt="Imagen de la tarea"
            style="width: 100px; margin-top: 8px; border-radius: 8px;"
          />
        </div>
      </ion-label>

      <ion-select
        [value]="task.status"
        (ionChange)="changeStatus(task, $event)"
        interface="popover">
        <ion-select-option value="pendiente">Pendiente</ion-select-option>
        <ion-select-option value="en_progreso">En progreso</ion-select-option>
        <ion-select-option value="completada">Completada</ion-select-option>
      </ion-select>

      <ion-button
        color="danger"
        fill="clear"
        (click)="deleteTask(task)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>